

/* Navbar */

#navbar{
    background-color: transparent;
    position: fixed;
}

.contact1{
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.8) 17%, rgba(255, 1, 8, 0.8) 100%);
}

.contact1-form-btn:hover{
    background-color: var(--clr-primary);
}