@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Sans+Pro&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none !important; */
    font-family: 'Source Sans Pro', sans-serif;
    
}

a{
  text-decoration: none !important;
}

*::placeholder:not(.university-search){
  color: white !important;
  opacity: 1;
}

:root{
  --font-josefin: 'Josefin Sans', sans-serif;
  --clr-primary: rgb(237, 28, 36);
  --clr-secondary: rgb(108, 117, 125);
  --bg-scale: scale(1.25);
}

body{
  position: relative;
  background-color: white;
}

/* Header & Navbar Start */

#navbar{
  position: fixed;
  width: 100%;
  z-index: +1000;
}

.navBgColor{
  background-color: black;
  transition: all 0.3s ease;
}

header .logo{
    width: 100px;
}

header .logo img{
    width: 100%;
}

header form .form-control{
  color: white !important;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  background-color: transparent;
  transition: 0.3s;
}

header form .form-control:focus, header form .form-control:active{
  color: white;
  background-color: transparent;
  border-color: var(--clr-primary);
  box-shadow: none;
}

header .fa-magnifying-glass{
  color: white !important;
}

header .navbar-toggler{
  color: white;
}

header .navbar-toggler:focus{
  box-shadow: none;
}

header li a{
  color: white !important;
}

header .nav-item{
  cursor: pointer;
}

header .nav-item:not(.apply){
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

header .nav-item:not(.apply):hover{
  border-bottom: 2px solid var(--clr-primary);
}

header .dropdown-item{
  color: black !important;
  transition: 0.3s;
}

header .dropdown-item:hover{
    padding-left: 1.5rem;
    background-color: var(--clr-primary);
    color: white !important;
}

header .apply .btn-primary{
  background-color: var(--clr-primary);
  color: white;
  transition: 0.3s;
  border: none;
}

header .apply .btn-primary:hover{
  background-color: white;
  color: var(--clr-primary) !important;
}

header .search-box-two{
  background-color: white;
}

header .search-box-two .fa-magnifying-glass{
  color: black !important;
}


/* Hero Section Start */

main .hero{
  position: relative;
  height: 125vh;
  background-image: url(../image/hero.jpg);
  background-position: center bottom 10%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

main .hero::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 125vh;
  background: linear-gradient(-36deg, rgba(255, 1, 8, 1) 0%, rgba(0, 0, 0,0.4) 75%);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

main .hero .hero-heading{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

main .hero .hero-heading p{
  font-family: var(--font-josefin);
  color: white;
  font-weight: 600;
}

main .hero .hero-heading .display-6 p{
  font-weight: 400;
}

main .hero .row{
  transform: translateY(400px);
}

main .hero .row .institute-university{
  border-top-left-radius: 8px;
}

main .hero .row .institute-college{
  border-top-right-radius: 8px;
}

main .hero .row .form{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .hero .row .bg-primary{
  background-color: rgba(255, 255, 255,0.2) !important;
  color: white;
  transition: 0.3s;
}

main .hero .row .bg-primary:hover{
  background-color: rgba(255, 255, 255,0.5) !important;
  color: white;
}

main .hero .row .bg-primary:focus, main .row .bg-primary:active{
  background-color: rgb(255, 255, 255) !important;
  color: var(--clr-primary) !important;
}

main .hero .form-control, main .hero .form-select{
  border: none;
  border-bottom: 1px solid var(--clr-secondary);
  border-radius: 0 !important;
}

main .hero .form-control:focus, main .hero .form-select:focus{
  box-shadow: none;
  border-color: var(--clr-primary) ;
}

main .hero .search-btn{
  background-color: var(--clr-primary);
  color: white;
  border-color: var(--clr-primary);
}

main .hero .search-btn:hover, main .hero .search-btn:focus, main .hero .search-btn:active{
  background-color: white;
  color: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: none !important;
}

main .hero .course-card{
  width: 50%;
  height: 33%;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  background-color: rgba(237, 28, 36, 0.1);
  transition: 0.3s;
}

main .hero .course-card:hover{
  background-color: rgb(237, 28, 36);

}

main .hero .course-card a{
  color: white;
}


/* University List Start */

main .university-list{
  transform: translateY(-180px);
}

main .university-list .card-canada{
  background-image: url(../image/canada-bg.jpg);
}

main .university-list .card-uk{
  background-image: url(../image/uk-bg.jpg);
}

main .university-list .card-usa{
  background-image: url(../image/usa-bg.jpg);
}

main .university-list .card-malaysia{
  background-image: url(../image/malaysia-bg.jpg);
}

main .university-list .university-list-card{
  position: relative;
  width: 100%;
  height: 300px;
  color: white;
  border: 3px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
}

main .university-list .university-list-card:hover{
  background-size: 500px;
}

main .university-list .university-list-card .card-body{
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s ease;
}

main .university-list .university-list-card .card-body:hover{
  background-color: rgba(0, 0, 0, 0.4);
}


/* Footer Start */

footer{
  transform: translateY(-100px);
}

footer .footer-social{
  height: 300px;
}

footer .fa-facebook-f{
  padding: 0.6rem 1.1rem;
  background-color: rgb(79, 106, 163);
  color: white;
}

footer .fa-google{
  padding: 0.6rem 0.8rem;
  background-color: rgb(223, 87, 75);
  color: white;
}

footer .fa-twitter{
  padding: 0.6rem 0.8rem;
  background-color: rgb(52, 171, 244);
  color: white;
}

footer .fa-youtube{
  padding: 0.6rem 0.6rem;
  background-color: rgb(210, 55, 54);
  color: white;
}

footer .social-link{
  cursor: pointer;
}

footer .footer-content{
  padding-top: 4rem;
}

footer .footer-content a{
  color: black;
  transition: 0.2s;
}

footer .footer-content a:hover{
  color: var(--clr-primary);
}

footer .footer-content a:not(.reviews){
  border-right: 2px solid black;
}










/* Custom Media Query Start */

@media (min-width: 180px) {


    header .nav-item{
      text-align: center;
    }

    header .navbar-collapse{
      background-color: black;
    }

    header .search-box-one{
      visibility: hidden;
      position: absolute;
      z-index: -100;
    }

        
    main .hero .hero-heading{
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }
    
    main .hero .row{
      transform: translateY(180px);
    }
                    
    main .hero, main .hero::before{
      height: 230vh;
      border-bottom-left-radius: 50% 5%;
      border-bottom-right-radius: 50% 5%;
    }

    main .display-1{
      font-size: 2rem;
    }

    main .display-6{
      font-size: 1.3rem;
    }
  }
@media (min-width: 576px) {

    header .navbar-collapse{
      background-color: black;
    }
    
    header .search-box-one{
      visibility: unset;
      position: unset;
      z-index: unset;
    }
    
    main .hero .hero-heading{
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }
      
    main .hero .row{
      transform: translateY(190px);
    }
    
    main .hero, main .hero::before{
      height: 230vh;
      border-bottom-left-radius: 50% 5%;
      border-bottom-right-radius: 50% 5%;
    }

    main .display-1{
      font-size: 2.5rem;
    }
    
    main .display-6{
      font-size: 1rem;
    }
  }
  @media (min-width: 768px) {

    header .navbar-collapse{
      background-color: black;
    }
    
    header .search-box-one{
      visibility: unset;
      position: unset;
      z-index: unset;
    }
    
            
    main .hero, main .hero::before{
      height: 230vh;
      border-bottom-left-radius: 50% 10%;
      border-bottom-right-radius: 50% 10%;
    }

    main .hero .hero-heading{
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }

    main .hero .row{
      transform: translateY(250px);
    }

    main .display-1{
      font-size: 3rem;
    }
        
    main .display-6{
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) {

    header .navbar-collapse{
      background-color: black;
    }
    
    header .search-box-one{
      visibility: unset;
      position: unset;
      z-index: unset;
    }
    
    
    main .hero .hero-heading{
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -8%);
    }
    
    main .hero .row{
      transform: translateY(280px);
    }
        
    main .hero, main .hero::before{
      height: 170vh;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
    }

    main .display-1{
      font-size: 3rem;
    }
            
    main .display-6{
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1200px) {

    header .navbar-collapse{
      background-color: transparent;
    }
    
    header .search-box-one{
      visibility: unset;
      position: unset;
      z-index: unset;
    }
    
    
    main .hero .hero-heading{
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    
    main .hero .row{
      transform: translateY(300px);
    }
        
    main .hero, main .hero::before{
      height: 170vh;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
    }

    main .display-1{
      font-size: 4rem;
    }
                
    main .display-6{
      font-size: 2rem;
    }
  }
  @media (min-width: 1400px) {

    header .navbar-collapse{
      background-color: transparent;
    }
    
    header .search-box-one{
      visibility: unset;
      position: unset;
      z-index: unset;
    }
    
    
    main .hero .hero-heading{
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -15%);
    }

    main .hero .row{
      transform: translateY(400px);
    }

    main .hero, main .hero::before{
      height: 125vh;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
    }

    main .display-1{
      font-size: 5rem;
    }
                
    main .display-6{
      font-size: 2.5rem;
    }
  }
